.tareas .lista {
	list-style: none;
}
 
.tareas .lista li {
	border-bottom: 1px solid #B6B6B6;
}
 
.tareas .lista li a {
	color: #212121;
	display: block;
	padding: 20px 0;
	text-decoration: none;
}
 
.tareas .lista li a:hover {
	text-decoration: line-through;
}

body {
  background-image: url(https://ep00.epimg.net/elpais/imagenes/2015/03/26/icon/1427369520_433730_1427454642_noticia_normal.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
}
.textcontainer {
	color: white;
}

.textMobile {
	color: tomato;
}